<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ page import="com.foodorder.model.*"%>
<%@ page import="com.foodorder.model.*"%>
<%@ page import="java.util.LinkedList"%>
<%@ page import="java.util.List"%>
<%@ page import="java.util.Map"%>
<%@ page import="com.foodorder.model.Meal.pojo.Meal"%>
<%
	Meal mealVO = (Meal) request.getAttribute("mealVO");
%>
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>店家首頁</title>
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

  <link rel="stylesheet" href="/CGA105G2/assets/css/vendor.css" />
  <link rel="stylesheet" href="/CGA105G2/assets/css/style.css" />
  <link rel="stylesheet" href="/CGA105G2/assets/custom.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a {
      color: black;
    }
  </style>
</head>

<body>
  <div id="page-start-anchor"></div>

  <section class="header header-fixed-xl">

    <div class="header-main bg-warning">
      <div class="container" style="max-width: 1400px;">
        <div class="row " style="max-width: 1400px;">
          <nav class="navbar navbar-expand-lg navbar-light fs-md-6" id="header-navbar">
            <!-- @*Navbar(白色)*@ -->


            <a class="navbar-brand font-weight-bold" href="StoreStart.html">
              <img src="/assets/images/Logo.PNG" style="width: 100px; height: 100px" alt="" />FoodMap</a>
            <!--            ps-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto ">
                <div class="navbar-spacer"></div>
                <div class="navbar-spacer"></div>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="./ContactUs.html">
                    📭聯繫我們
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="./StoreLogin.html">
                    🚩訂位
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="./Waiting.html">
                    🚩候位
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="./Waiting.html">
                    🚩帶位
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="./Waiting.html">
                    📔訂單
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="./Waiting.html">
                    🗃️管理
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase" data-toggle="none" href="home.html">
                    🚪Sing out
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- header end -->

  <!-- main -->
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="p-4 pt-5">
          <ul class="list-unstyled components mb-5">
            <li class="my-5">
              <a href="#">
                <h2>Home</h2>
              </a>
            </li>
            <li class="my-5">
              <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown">
                <h3>🔻訂單</h3>
              </a>
              <ul class="list-unstyled collapse" id="pageSubmenu2">
                <li>
                  <hr><a href="#">🔆待出貨</a>
                </li>
                <li><a href="#">🔆待評價</a></li>
                <li><a href="#">🔆歷史查詢</a>
                  <hr>
                </li>
              </ul>
            </li>
            <li class="my-5">
              <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown">
                <h3>🔻訂位</h3>
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu3">
                <li>
                  <hr><a href="#">🔆已預約</a>
                </li>
                <li><a href="#">🔆用餐評價</a></li>
                <li><a href="#">🔆訂位紀錄</a>
                  <hr>
                </li>
              </ul>
            </li>
            <li class="my-5">
              <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown">
                <h3>🔻設定</h3>
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu4">
                <li>
                  <hr><a href="#">🔆基本資料</a>
                </li>
                <li><a href="#">🔆收件地址</a></li>
                <li><a href="#">🔆付款方式</a></li>
                <li><a href="#">🔆變更密碼</a>
                  <hr>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>


      <div class=" container p-4  mt-17" style="width: 800px;">
        <h1 class="text-center mb-3">新增餐點</h1>
        <hr>
        <div class="mx-5 mt-5 pt-5 jumbotron bg-light shadow">
          <div>
            <form METHOD="post" action="<%=request.getContextPath()%>/front-end/store/food_order/food_order.do" class="p-4 ">
              <div class="form-group row">
                <label for="meal" class="fs-6 font-weight-bold">餐點</label>
                <input name="mealName" type="text" class="form-control" id="mealName" value="<%= (mealVO==null)? "" : mealVO.getMealName()%>">
                <c:if test="${not empty errorMealNameMsgs}">
					<p style="color:red"> ${errorMealNameMsgs} </p>
				</c:if>
              </div>
              <div class="form-group row">
                <label for="money" class="fs-6 font-weight-bold">金額</label>
                <input name="mealPrice" type="text" class="form-control" id="mealPrice" value="<%= (mealVO==null)? "" : mealVO.getMealPrice()%>">
				<c:if test="${not empty errorMealPriceMsgs}">
					<p style="color:red"> ${errorMealPriceMsgs} </p>
				</c:if>
              </div>
              <input type="hidden" name="action" value="insert">
			  <input type="hidden" name="mealId" value="${mealVO.mealId}">
              <input class="form-group  btn btn-danger btn-block fs-5 mt-10" type="submit" value="新增" style="border-radius: 30px;">
            </form>
          </div>
  
  
        </div>
      </div>
    </div>

  </div>


    <!-- main -->

    <!-- footer start -->
    <section class="footer bg-warning w-100" style=" width: 1700px; position:relative; bottom:0; top:30%">
      <div class="container">
        <!-- 三張小圖 -->
        <div class="d-flex align-items-stretch justify-content-md-center py-10">
          <!-- 地址 -->
          <div class="card border-0 bg-secondary mb-4 ml-lg-9 w-25">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">map</i></div>
              <div
                class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Our address
              </div>
              <p class="mb-0 text-body">桃園市中壢區復興路46號9樓<br />Hollow Lane. NY 11706.</p>
            </div>
          </div>
          <!-- 電話 -->
          <div class="card border-0 bg-secondary mb-4 ml-lg-9 w-25">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">phone</i></div>
              <div
                class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                連絡電話
              </div>
              <p class="mb-0 text-body">0800-087-087</p>
            </div>
          </div>
          <!-- 營業時間 -->
          <div class="card border-0 bg-secondary mb-4 ml-lg-9 w-25">
            <div class="card-body py-17 px-10 text-center">
              <div class="card-icon mb-6"><i class="material-icons">access_time</i></div>
              <div
                class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                營業時間
              </div>
              <p class="mb-0 text-body">11:00 AM - 9:00 PM</p>
            </div>
          </div>
        </div>
        <!-- 跳轉到社群連結 -->
        <div class="d-flex align-items-center justify-content-center">
          <a href="home.html" class="footer-brand">FoodMap</a>
          <div class="brand-icons-list ml-10 ml-sm-20">
            <!-- FB圖案 -->
            <a href="#" class="brand-icon brand-icon-circle brand-icon-facebook">
              <i class="fa fa-facebook-f"></i>
            </a>
            <!-- twitter圖案 -->
            <a href="#" class="brand-icon brand-icon-circle brand-icon-twitter">
              <i class="fa fa-twitter "></i>
            </a>
            <!-- ig圖案-->
            <a href="#" class="brand-icon brand-icon-circle brand-icon-instagram">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
        </div>
        <!-- 頁底文字 -->
        <small class="d-flex align-items-center justify-content-center" style="margin:0px -10px 0px -10px;">
          TibaMe CGA105_2 MapFood
          <a href="#" data-toggle="smooth-scroll" data-target="#page-start-anchor">
            <i class="material-icons text-black">arrow_upward</i>
          </a>
        </small>
      </div>
    </section>
    <!-- footer end -->

  <script src="/CGA105G2/assets/js/vendor.js"></script>
  <script src="/CGA105G2/assets/js/polyfills.js"></script>
  <script src="/CGA105G2/assets/js/app.js"></script>





    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
  </script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>


    <script>


    </script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            message: "Hello Vue!",
          };
        },
      }).mount("#app");
    </script>

    <!-- stickey bar: -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-sidebar/3.3.1/sticky-sidebar.min.js"></script>

    <script>
      let a = new StickySidebar("#sidebar", {
        topSpacing: 40,
        bottomSpacing: 20,
        containerSelector: ".container",
        innerWrapperSelector: ".sidebar__inner"
      });
    </script>


</body>

</html>